#header{


    // background: #ebebeb;
    padding: 0;

    border-bottom: 1px #ccc solid;

    .lang {
        background-color: #0000000f;
        color: #00000066;
        .container{
            padding-top: 0;
            padding-bottom: 0;
            text-align: right;
        }
        a {
            display: inline-block;
            padding: 3px 5px;
            color: #00000099;
            cursor: pointer;
        }
        a:hover {
            color: #000000;
            cursor: pointer;
        }
    }
    h1{
      font-size: 30px;
      font-weight: bold;
      line-height: 30px;
      span{
          font-size: 22px;
          padding-left: 20px;
          color: #666;
      }
    }


}





