<div id="footer">
    
<div class="container">

    <div class="source">

        <div ><div class="github">
            <h1 class="title">
                [:if(lang.useset == 'zh'){:]
                本钱包开源代码
                [:}else{:]
                Open source code of Hacash wallet
                [:}:]
            </h1>
            <p class="tip">
                [:if(lang.useset == 'zh'){:]
                本站所有类型钱包均来自 Hacash 开发者社区的开源贡献，如果您需要验证钱包代码的安全性、自己编译部署钱包、自定义修改钱包功能或加入钱包开发者社区，以下是各钱包开源代码的地址
                [:}else{:]
                All types of wallets developed by the Hacash developer community are contributed by the open source community. If you need to verify the security of the wallet code, compile and deploy the wallet yourself, customize the wallet function or join the wallet developer community, the following is the open source code of each wallet address
                [:}:] :
            </p>
            <table class="urls">
                <tr><td><b>
                    [:if(lang.useset == 'zh'){:]
                    本网站
                    [:}else{:]
                    This Website
                    [:}:] :
                </b></td><td><a class="lkls" target="_blank" href="https://github.com/hacash/wallet"></a></td></tr>
                <tr><td><b>
                    [:if(lang.useset == 'zh'){:]
                    离线安全桌面钱包
                    [:}else{:]
                    Offline Secure Desktop Wallet
                    [:}:] :
                </b></td><td><a class="lkls" target="_blank" href="https://github.com/hacash/pcwallet"></a></td></tr>
                <tr><td><b>
                    [:if(lang.useset == 'zh'){:]
                    网页钱包 JS SDK
                    [:}else{:]
                    Web Wallet JS SDK
                    [:}:] :
                </b><td><a class="lkls" target="_blank" href="https://github.com/hacash/jssdk"></a></td></tr>
                <tr><td><b>
                    [:if(lang.useset == 'zh'){:]
                    网页钱包（在线及离线）
                    [:}else{:]
                    Web Wallet (Online or Offline)
                    [:}:] :
                </b></td><td><a class="lkls" target="_blank" href="https://github.com/hacash/jssdk/tree/main/webwallet"></a></td></tr>
                <tr><td><b>
                    [:if(lang.useset == 'zh'){:]
                    命令行钱包工具
                    [:}else{:]
                    CMD Wallet
                    [:}:] :
                </b></td><td><a class="lkls" target="_blank" href="https://github.com/hacash/cmdwallet"></a></td></tr>
            
            </table>
            
        </div></div>

    </div>



</div>



<p class="bbtl">Hacash Wallet Center © Hacash.org 2019-2023 Released under the MIT license</p>

</div>