/* footer.less */

#footer {
    margin-top: 200px;
    // padding: 30px 0;
    // background-color: #222;
    color: #ffe4c488;
    .bbtl {
        margin-top: 60px;
        padding: 20px 0;
        text-align: center;
        background-color: #ffffff33;
    }
}

.source {
    text-align: center;
    * {
        color: #ffffff99;
    }
    .title {
        font-size: 40px;
    }
    .tip {
        margin: 40px 0;
        font-size: 18px;
    }
    table {
        margin: auto;
        border-collapse: collapse;
        td {
            padding: 10px;
        }
        tr {
            border-bottom: 1px solid #ffffff66;
        }
        a {
            color: cadetblue;
        }
    }
}

