/* header.less */

/////////////////////////////////////////////////

.container {
    margin: 0 auto;
    max-width: 980px;
    // background-color: #f3f3f3;
}

@orgcol: #f7af34ff;
// @thmcol: #f7af34;
@thmcol: #da8c36ff;
@thmblue: #0b3a5bff;


#topbar {
    position: relative;
    user-select: none;
    z-index: 10;

    @tbh: 32px;
    @tsft: 0.25s;
    
    * {
        transition: all @tsft ease-out;
        color: whitesmoke;
    }

    transition: top 0.3s ease-out;

    z-index: 100;
    display: block;
    margin: 0;
    padding: 1px 0;

    background-color: #3f3f3f;
    width: 100%;

    @itemshowcl: #aaa;

    .container {
        padding: 1px 0;
    }
    .box {
        transition: margin @tsft ease-out;
        margin: 8px 5px;
        height: @tbh;
        // background-color: #44444433;
    }
    .logoft {
        float: left;
        cursor: pointer;
        position: relative;
        // top: 1px;
        .ico {
            display: inline-block;
            height: @tbh;
            vertical-align: top;
            position: relative;
            top: -2px;
            margin-right: 10px;
            // transform: scale(1.25);
        }
        b {
            vertical-align: top;
            display: inline-block;
            vertical-align: top;
            line-height: @tbh;
            height: @tbh;
            font-size: 13px;
            color: @thmcol;
            font-weight: normal;
            text-shadow: 2px 1px 1px @thmblue;
            transform: scaleY(2);
            transform-origin: left;
        }
    }

    .navs {
        display: block;
        float: right;
        height: @tbh;
        line-height: @tbh;
    }

    .itembr {
        vertical-align: middle;
        display: inline-block;
        height: @tbh;
        b{
            display: block;
            font-weight: normal;
            height: @tbh - 10px;
            margin: 5px 10px;
            border-left: 1px #ffffff66 solid;
        }
    }

    .item {
        vertical-align: middle;
        display: inline-block;
        position: relative;
        height: @tbh;
        line-height: @tbh;
        padding: 0 10px;
        margin: 0 5px;
        .lk, .b {
            display: block;
            line-height: @tbh;
            height: @tbh;
            font-weight: normal;
            font-size: 18px;
            color: @itemshowcl;
        }
        .lk:hover {
            color: @orgcol;
            i {
                color: @orgcol;
            }
        }
        .b {
            color: @itemshowcl;
            font-size: 13px;
            &::after{
                content: "\e807";
                margin-left: 5px;
                font-family: "fontello";
            }
            i {
                font-weight: normal;
            }
        }
        .b.nt::after{
            content: "";
        }
        .swt{
            transition: all @tsft ease-out;
            position: absolute;
            right: 0;
            top: 29px;
            min-width: 128px;
            display: none;
            background: #222;
            border-top: 1px solid @orgcol;
            li {
                a {
                    display: block;
                    text-align: left;
                    padding: 5px 20px;
                    line-height: @tbh;
                    height: @tbh;
                    cursor: pointer;
                    white-space: nowrap;
                    font-weight: normal;
                }
                a:hover {
                    background-color: #00000022;
                    color: @orgcol;
                }
            }
        }
    }
    .item.end {
        padding-right: 0;
        margin-right: 0;
    }
    .item:hover {
        .b {
            color: @orgcol;
            i {
                color: @orgcol;
            }
            &::after{
                content: "\e80a";
            }
        }
        .b.nt::after{
            content: "";
        }
        .swt{
            display: block;
        }
    }

}


#topbar {
    .mbuf {
        display: none;
        @bkgr: #000000cc;
        position: fixed;
        right: 0px;
        top: 0;
        width: 100%;
        b.fthac {
            position: absolute;
            right: 40px;
            top: 4px;
            padding: 4px 15px 8px ;
            background-color: @bkgr;
            border-radius: 0 0 12px 12px;
            font-size: 20px;

        }
        .tline {
            width: 100%;
            height: 4px;
            background-color: @bkgr;
        }
    }
}



@media screen and (max-width: 640px) {

    .container {
        margin: 10px;
    }

    #topbar {
        .container {
            margin: 0;
        }
    }


    


}

