[:
    var cmn = lang.common;
:]

<div id="topbar" class="hide"><div class="container">

    <div class="box">
        <a class="logoft bktt" title="Back to top" href="/">
            <img class="ico" src="/favicon.ico" /><b class="hacash">[:=cmn.topbarttl:]</b>
        </a>
        <div class="navs">

            <a class="item" href="/create">
                <b class="lk">[:=cmn.tbits[1]:]</b>
            </a>
            <a class="item" href="/#tools">
                <b class="lk">[:=cmn.tbits[0]:]</b>
            </a>


            <div class="item end">
                <!-- 
                    'fr_FR': 'Français',
                -->
                [: var langlist = {
                    'en': '🇺🇸 English',
                    'zh': '🇨🇳 简体中文',
                }; :]
                <!-- <b class="b"><i class="ftico">&#xf1ab;</i>[:=langlist[lang.useset]:]</b> -->
                <b class="b nt lang">
                    EN/中
                    [:if(lang.useset=="en"){:]🇺🇸[:}else{:]🇨🇳[:}:]
                </b>
                <div class="swt">
                    <ul>
                        [: for(var i in langlist) { :]
                            <li><a href="?lang=[:=i:]">[:=langlist[i]:]</a></li>
                        [: } :]
                    </ul>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div></div>
