
<div class="card dark">
    <div class="container">
        <h1 class="title">[:=lang.index.desktop[0]:]</h1>
        <p class="tip">[:=lang.index.desktop[1]:]</p>
        
        <div class="crts" style="display: none;">
            <a href="https://download.hacash.org/hacash_desktop_wallet_windows64.zip" target="_blank"><button class="blue crtbtn f"><i class="fic">&#xe710;</i> Windows 64-bit ⇩</button></a>
            <a href="https://download.hacash.org/hacash_desktop_wallet_ubuntu64.zip" target="_blank"><button class=" crtbtn dld"><i class="fic">&#xedd3;</i> Ubuntu 64-bit ⇩</button></a>
            <a href="https://download.hacash.org/hacash_desktop_wallet_macos64.zip" target="_blank"><button class="red crtbtn dld"><i class="fic">&#xe64a;</i> MacOS 64-bit ⇩</button></a>
        </div>

    </div>
</div>


