input,
textarea {
  box-shadow: 2px 2px 3px #eee inset;
}
a.dld {
  display: inline-block;
  font-size: 14px;
  color: #fff;
  background-color: #3a85ce;
  padding: 6px 20px;
  border-radius: 100px;
}
a.dld.d2 {
  background-color: #e0a231;
}
a.dld.d3 {
  background-color: #0a9185;
}
a.dld.d4 {
  background-color: #c75555;
}
a.dld.d5 {
  background-color: #a8a6a8;
}
a.dld.d6 {
  background-color: #723d96;
}
p.wrap {
  margin-top: 10px;
  padding: 10px;
  background-color: #3a85ce33;
  border-radius: 4px;
}
p.wrap .plat {
  font-size: 14px;
  padding: 4px 10px;
  color: #3a85ce;
}
p.wrap .tip {
  font-size: 14px;
  padding: 2px 2px 2px 12px ;
}
p.wrap.w2 {
  background-color: transparent;
  border: 1px solid #3a85ce66;
}
.download p.p {
  color: #999;
}
.card {
  padding: 40px 0;
  border-bottom: 1px #ccc solid;
}
.card h1.title {
  font-size: 16px;
  font-weight: bold;
  color: #666;
}
.card p {
  font-size: 15px;
  color: #333;
}
.card textarea {
  display: block;
  margin: 10px 0;
  padding: 10px;
  border: 1px #999 solid;
  width: 100%;
  min-height: 60px;
  font-size: 13px;
  line-height: 15px;
}
.tip.warning {
  color: red;
}
#balance textarea {
  min-height: 90px;
}
#balance .result {
  margin-top: 10px;
  padding: 10px;
  background: #ddd;
}
#balance .result .total {
  font-size: 13px;
}
#balance .result .total b {
  font-size: 14px;
  font-weight: bold;
  color: darkgreen;
}
#balance .result .list li {
  font-size: 13px;
}
#txstatus button.submit {
  background: teal;
}
#txstatus textarea {
  min-height: 30px;
}
#txstatus .result {
  padding-top: 20px;
}
#txstatus .result p {
  margin-bottom: 10px;
  word-break: break-all;
}
#txstatus .result p.stat {
  padding: 5px 10px;
  color: #fff;
  background: darkkhaki;
}
#txstatus .result p.stat.block {
  background: darkslateblue;
}
#txstatus .result p.stat.confirm {
  background: cadetblue;
}
#txstatus .result p.stat.notfind {
  background: darkgray;
}
#txstatus .result b.tt,
#txstatus .result .ok {
  font-size: 16px;
  color: darkgreen;
  font-weight: bold;
}
#txstatus .result table {
  border-top: 1px #ddd solid;
  border-left: 1px #ddd solid;
  border-collapse: 0px;
  border-spacing: 0px;
}
#txstatus .result table td {
  padding: 5px 10px;
  word-break: break-all;
  border-bottom: 1px #ddd solid;
  border-right: 1px #ddd solid;
}
#sendtx button.submit {
  background: darkslateblue;
}
#sendtx .result {
  padding: 10px;
  border: #ddd 1px dotted;
  margin: 10px 0;
}
#sendtx .result p {
  font-size: 14px;
}
#sendtx .result .ok {
  color: darkgreen;
}
#sendtx .result .err {
  color: chocolate;
}
#sendtx textarea {
  min-height: 90px;
}
#tips .wrap {
  margin-top: 60px;
  padding: 10px 20px;
  font-size: 12px;
  border-radius: 4px;
  border: chocolate 1px solid;
  color: #333;
}
#tips .wrap p {
  margin: 10px 0;
}
#tips .wrap a {
  cursor: pointer;
  color: dodgerblue;
}
#tips .wrap a:hover {
  text-decoration: underline;
}
#footer {
  margin-top: 20px !important;
}
