



<div class="card download" style="background-color: #efe;">
    <div class="container">
        <h1 class="title" style="color: mediumseagreen;">下载离线安全桌面钱包：</h1>
        <p class="p"><br/><a class="dld" href="https://download.hacash.org/hacash_desktop_wallet_windows64.zip" target="_blank">⇩ 下载离线桌面安全钱包（Windows 64-bit 版本）</a></p>
        <p class="p"><br/><a class="dld d2" href="https://download.hacash.org/hacash_desktop_wallet_ubuntu64.zip" target="_blank">⇩ 下载离线桌面安全钱包（Ubuntu 64-bit 版本）</a></p>
        <p class="p"><br/><a class="dld d3" href="https://download.hacash.org/hacash_desktop_wallet_macos64.zip" target="_blank">⇩下载离线桌面安全钱包（MacOS 64-bit版本）</a></p>
        
        <br/><br/>
        <h1 class="title" style="color: #c75555;">下载网页钱包：</h1>
        <p class="p wrap">
            <i class="plat">Windows, Linux, MacOS and Android:</i>
            <br/><a class="dld d4" href="https://download.hacash.org/hacash_offline_web_wallet.zip" target="_blank">⇩ 下载离线网页钱包 (推荐使用)</a><br/><i class="tip">使用最新版网页浏览器打开（Safari,Chrome或火狐）</i></p>
        <p class="p"><br/>矿工使用：<a class="dld d5" href="https://download.hacash.org/hacash_web_wallet_html.zip" target="_blank">⇩ 下载网页钱包（需配合全节点使用）</a></p>

        <br/><br/>  
        <h1 class="title" style="color: #9027b1;">使用在线钱包:</h1>
        <p class="p wrap w2">
            <i class="plat">iPhnone或其它:</i>
            <br/><a class="dld d6" href="https://wallet.hacash.org/webwallet/hacash_wallet.html" target="_blank">立即使用在线钱包 ( 无需下载 )</a><br/><i class="tip">须用最新版浏览器打开（Safari,Chrome或火狐）</i></p>
    </div>
</div>  






<div id="balance" class="card">
    <div class="container">
        <h1 class="title">查询余额：</h1>
        <p class="tip">将钱包地址输入或粘贴到下面的框中，一行一个或用逗号、空格隔开。点击“确认查询”则显示账户余额。一次查询不超过20个账号地址。</p>
        <textarea v-model="addrs" placeholder="例如：1J1kWanVB7vWS93vv2uFUYsfe4rustzGxh,19bJU8JU6AYQHZnHcLzYj6ZvP1ARVpdRJJ"></textarea>
        <button ref="btn" class="submit" @click="getBalance">确认查询</button>
        <div class="result"v-if="balances.length>0">
            <p class="total">{{balances.length}} 个地址总余额 : <b>{{totalamt}}</b></p>
            <table class="list">
                <tr v-for="one in balances">
                    <td>{{one.addr}} :</td>
                    <td>{{one.amt}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>


<div id="sendtx" class="card">
    <div class="container">
        <h1 class="title">发送交易：</h1>
        <p class="tip">将交易的 txbody 值粘贴到下面的框中，点击确认则提交到区块链网络进行确认。</p>
        <textarea v-model="txbody" placeholder="txbody..."></textarea>
        <button ref="btn" class="submit" @click="sendTx">确认提交</button>
        <div class="result" v-if="result">
            <p class="ok" v-if="result.ret==0">交易发送成功！<br>txhash: {{result.txhash}}</p>
            <p class="err" v-if="result.err">发送失败： {{result.err}}</p>
        </div>
    </div>
</div>


<div id="txstatus" class="card">
    <div class="container">
        <h1 class="title">查询交易状态：</h1>
        <p class="tip">将交易Hash（txhash）值粘贴到下面的框中，点击确认查询交易状态。</p>
        <textarea v-model="txhash" placeholder="txhash..."></textarea>
        <button ref="btn" class="submit" @click="statusTx">确认查询</button>
        <div class="result" v-if="result && !txhash">
            <p>{{txhash_show}}</p>
            <p :class="'stat '+result.status" >当前交易状态：{{ {'txpool':'交易池内等待打包','block':'交易已经打包正在挖矿','confirm':'已出块并成功确认','notfind':'交易不存在'}[result.status] }}</p>
            <table v-if="result.block_height">
                <tr><td>区块高度:</td><td>{{result.block_height}}</td></tr>
                <tr v-if="result.status!='block'"><td>区块hash:</td><td>{{result.block_hash.toUpperCase()}}</td></tr>
                <tr v-if="result.confirm_height"><td>已确认:</td><td>{{result.confirm_height}}</td></tr>
            </table>

        </div>
    </div>
</div>



<div class="card" style="background-color: #fda;">
    <div class="container">
        <h1 style="color: indianred; font-weight: bold;">
        
            如果你是矿工或者具备自己运行的Hacash全节点，可以 <a class="dld" href="https://download.hacash.org/hacash_web_wallet_html.zip" target="_blank">⇩下载网页钱包</a> 使用更多的功能。

        </h1>
    </div>
</div>



<div id="tips" class="card">
    <div class="container">
        <div class="wrap">
            <p>特别提示：</p>
            <p>本在线钱包并不会储存或泄露你的密码、私钥或其他敏感数据，但并不绝对保证可能的服务器被入侵导致的资金安全问题。如果您的账户内有大量资金或需要保证绝对安全，我们建议您使用<a>离线桌面钱包</a>。（注：查询余额功能没有潜在资金安全问题）</p>
        </div>
    </div>
</div>

