

<div class="card download" style="background-color: #efe;">
    <div class="container">
        <h1 class="title" style="color: mediumseagreen;">Download Offline Secure Desktop Wallet:</h1>
        <p class="p"><br/><a class="dld" href="https://download.hacash.org/hacash_desktop_wallet_windows64.zip" target="_blank">⇩ Download Offline Desktop Wallet for Windows 64-bit</a></p>
        <p class="p"><br/><a class="dld d2" href="https://download.hacash.org/hacash_desktop_wallet_ubuntu64.zip" target="_blank">⇩ Download Offline Desktop Wallet  for Ubuntu 64-bit</a></p>
        <p class="p"><br/><a class="dld d3" href="https://download.hacash.org/hacash_desktop_wallet_macos64.zip" target="_blank">⇩ Download Offline Desktop Wallet  for MacOS 64-bit</a></p>
        
        <br/><br/>
        <h1 class="title" style="color: #c75555;">Download Web Wallet:</h1>
        <p class="p wrap">
            <i class="plat">Windows, Linux, MacOS and Android:</i>
            <br/><a class="dld d4" href="https://download.hacash.org/hacash_offline_web_wallet.zip" target="_blank">⇩ Download Offline Web Wallet (Recommended)</a><br/><i class="tip">Open the html file with latest web browser</i></p>
        <p class="p"><br/>For miner: <a class="dld d5" href="https://download.hacash.org/hacash_web_wallet_html.zip" target="_blank">⇩ Download full node web wallet</a></p>

        <br/><br/>  
        <h1 class="title" style="color: #9027b1;">Use Online Wallet:</h1>
        <p class="p wrap w2">
            <i class="plat">iPhone and others:</i>
            <br/><a class="dld d6" href="https://wallet.hacash.org/webwallet/hacash_wallet.html" target="_blank">Use Online Wallet ( NOT download )</a><br/><i class="tip">Need use with the latest web browser</i></p>
    </div>
</div>  




<div id="balance" class="card">
    <div class="container">
        <h1 class="title">Check the balance:</h1>
        <p class="tip">Type or paste the wallet address into the box below, one by one or separated by commas and spaces. Click "confirm query" to display the account balance. No more than 20 account addresses can be queried at a time.</p>
        <textarea v-model="addrs" placeholder="Example: 1J1kWanVB7vWS93vv2uFUYsfe4rustzGxh,19bJU8JU6AYQHZnHcLzYj6ZvP1ARVpdRJJ"></textarea>
        <button ref="btn" class="submit" @click="getBalance">Confirm Query</button>
        <div class="result"v-if="balances.length>0">
            <p class="total">Total balance of {{balances.length}} addresses : <b>{{totalamt}}</b></p>
            <table class="list">
                <tr v-for="one in balances">
                    <td>{{one.addr}} :</td>
                    <td>{{one.amt}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>

<div id="sendtx" class="card">
    <div class="container">
        <h1 class="title">Send transaction:</h1>
        <p class="tip">Paste the txbody value of the transaction into the box below, and click confirm to submit it to the blockchain network for confirmation.</p>
        <textarea v-model="txbody" placeholder="txbody..."></textarea>
        <button ref="btn" class="submit" @click="sendTx">Send Tx</button>
        <div class="result" v-if="result">
            <p class="ok" v-if="result.ret==0">Transaction sent successfully! <br>txhash: {{result.txhash}}</p>
            <p class="err" v-if="result.err">Send failed: {{result.err}}</p>
        </div>
    </div>
</div>


<div id="txstatus" class="card">
    <div class="container">
        <h1 class="title">Check transaction status:</h1>
        <p class="tip">Paste the transaction hash (txhash) value into the box below, and click "Query" to query the transaction status.</p>
        <textarea v-model="txhash" placeholder="txhash..."></textarea>
        <button ref="btn" class="submit" @click="statusTx">Query</button>
        <div class="result" v-if="result && !txhash">
            <p>{{txhash_show}}</p>
            <p :class="'stat '+result.status" >status: {{ {'txpool':'Waiting for packing in the tx pool','block':'The tx packed. Mining','confirm':'Confirm successfully','notfind':'Not find'}[result.status] }}</p>
            <table v-if="result.block_height">
                <tr><td>Block height:</td><td>{{result.block_height}}</td></tr>
                <tr v-if="result.status!='block'"><td>Block hash:</td><td>{{result.block_hash.toUpperCase()}}</td></tr>
                <tr v-if="result.confirm_height"><td>Confirmed height:</td><td>{{result.confirm_height}}</td></tr>
            </table>

        </div>
    </div>
</div>





<div class="card" style="background-color: #fda;">
    <div class="container">
        <h1 style="color: indianred; font-weight: bold;">
        
            If you are a miner or run your own Hacash full node, you can <a class="dld" href="https://download.hacash.org/hacash_web_wallet_html.zip" target="_blank">⇩Download web wallet</a> to use more features.

        </h1>
    </div>
</div>




<div id="tips" class="card">
    <div class="container">
        <div class="wrap">
            <p>© copyright to hacash.org</p>
        </div>
    </div>
</div>

